<main class="fpaas-fingerprint mdl-layout__content mdl-color-text--white">
  <div class="page-content mdl-grid">
    <div class="about-fpaas mdl-cell mdl-cell--4-col">
      <div class="content">
        <h2>Music FPaaS</h2>
        <h5 class="fpaas-full">Fingerprint as a Service</h5>
      </div>

      <div class="content">
        <h4>What is FPaaS?</h4>
        <h6 class="mdl-color-text--red-100">
          No, it does not involve fingers :) . <br>
          Songs have a unique feel, sound and identity, similar to fingerprints.
          With the fingerprint as a service (FPaaS), ...
        </h6>
      </div>

      <div class="content">
        <h4>How Does It Work?</h4>
        <h6 class="mdl-color-text--red-100">
          When your song is uploaded to our platform, the fingerprint generator
          computes time and hash pairs from the audio signal...
        </h6>
        <i class="more-details">
          <a href="./fpaas" class="mdl-color-text--red-100">
            more details
          </a>
        </i>
      </div>
    </div>

    <div class="fingerprint mdl-cell mdl-cell--8-col mdl-color--red-100
      mdl-color-text--black">
      <div class="get-fingerprint">
        <div class="upload-song mdl-color-text--grey-600">
          <h6>Drag/click to upload your song here</h6>
        </div>

        <accordion></accordion>

        <div class="download">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent
           mdl-color-text--white">
            Download JSON
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
