.about-fpaas {
  padding: 0 1.5em 0 4.5em;
}

.page-content { margin-top: 6em; }

.about-fpaas h2 {
  font-weight: 400;
}

.about-fpaas h5.fpaas-full {
  font-weight: 300;
  margin-top: -0.75em;
}

.about-fpaas .content {
  margin-bottom: 5.25em;
}

.content h6 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 300;
}

.content h6 a {
  font-style: italic;
  color: #FFCDD2;
  font-weight: 400;
  text-decoration: none;
}

.content a.mdl-button {
  padding: 0.5em 4em;
  text-transform: capitalize;
}
